<launch>
    <param name = "input_pc" type="str" value="/velodyne_points"/>
    <param name = "frame_id" type="str" value="velodyne"/>
    <param name = "height_offset" type="double" value="1.8"/>
    <node pkg="livox_free_space" name="livox_free_space" type="livox_free_space_node" output="log"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find livox_free_space)/fs.rviz" />
</launch>
